body {
    background-color: ivory;
    color: #033E3E;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

header {
    background-color: #033E3E;
    color: ivory;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: ivory;
    text-align: center;
}

h2 {
    margin-top: 15px;
    margin-bottom: -2px;
    font-family: Georgia, serif;
    color: #033E3E;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    background-color: #056e6e;
    justify-content: center;
    list-style: none;
    padding: 5px;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: ivory;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    column-count: 2;
    column-gap: 1rem;
    list-style: none;
    padding: 0;
    margin-bottom: 130px;
    text-align: left;
}

.links {
    margin-bottom: 35px;
}

.content a {
    text-decoration: none;
    color: #033E3E;
}

.content a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #056e6e;
}

footer {
    background-color: #033E3E;
    color: ivory;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

footer ul li {
    margin-bottom: -10px;
}

footer a {
    color: ivory;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.sign {
    font-style: italic;
    margin-top: 2.5px;
}

p {
    text-align: left;
}

.copy, .certified {
    text-align: center;
}

.copy {
    font-size: large;
}

.certified {
    font-size: medium;
}

.crap, .evaluate {
    text-align: left;
}

.good a, .bad a {
    text-decoration: none;
    color: #033E3E;
}

.good a:hover, .bad a:hover {
    text-decoration: underline;
}

.good p, .bad p, h3 {
    text-align: left;
    padding-left: 30px;
}

.good ul, .bad ul {
    padding-left: 45px;
}

.space {
    border: dotted 2pt #056e6e;
}

@media screen and (max-width: 992px) {
    .content {
        column-count: 1;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .content {
        column-count: 1;
        text-align: center;
    }

    main {
        width: 95%;
    }
}
