body {
    background-color: ivory;
    color:#033E3E;
  }
  
  h1 {
    color: #033E3E;
    text-align: center;
  }
  
  p {
    font-family: verdana,sans-serif;
    font-size: 20px;
    color: #033E3E;
  }