body {
    background-color: ivory;
    color:#033E3E;
}
body, html{
    height:100%;
    margin:0;
    display:flex;
    flex-direction: column;
}
main{
    flex: 1;
}
header {
    background-color:#033E3E;
    color:ivory;
    padding: 1rem;
    text-align:center;
}
h1{
    color:ivory;
    text-align:center;
}
h2{
    margin-top:-5px;
    margin-bottom: -2px;
    font-family: Georgia, serif;
    color: #033E3E;
    font-size: 1.8rem;
}
nav ul{
    display:flex;
    background-color:#056e6e;
    justify-content: center;
    list-style: none;
    padding: 5px;
}
.content{
    column-count: 2;
    column-gap: 0;
    list-style:none;
    justify-content: left;
    padding: 0;
    margin-bottom: 130px;
    text-align: left;
}
.links{
    margin-bottom: 35px;
}
nav ul li{
    margin: 0 1rem;
}
nav ul li a{
    color:ivory;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
.content a{
    text-decoration: none;
    color:#033E3E;
}
.content a:hover{
    text-decoration: underline;
    font-weight: bold;
    color:#056e6e;
}
main{
    padding:2rem;
    text-align: center;
}
footer{
    background-color:#033E3E;
    color: ivory;
    padding:1rem;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}
footer ul{
    list-style:none;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
footer ul li{
    margin-bottom:-10px;
}
footer a{
    color:ivory;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.sign{
    font-style: italic;
    margin-top: 2.5px;
}
p{
    text-align: left;
}
.copy, .certified{
    text-align: center;
}
.copy{
    font-size: large;
}
.certified{
    font-size: medium;
}