body {
    background-color: #fff;
    color:#033E3E;
    font-family: Georgia, serif;
}
h2{
    text-align:center;
    color:#033E3E;
}
h1{
    color:#fff;
    background-color:#033E3E;
    padding: 1rem;
    text-align:center;
}
figure.center{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 20px auto;
}
figcaption{
    font-style:italic;
    text-align: center;
    margin-top: 5px;
}
ul{
    list-style:none;
    padding:0;
}
ul>li{
    margin: 10px;
    font-weight: normal;
}
ul ul > li{
    margin-left:20px;
    font-weight:normal;
}
img{
    max-width:100%;
    height:auto;
    display: block;
}
nav ul{
    display:flex;
    background-color:#056e6e;
    justify-content: center;
    list-style: none;
    padding:5px;
}
nav ul li{
    margin: 0 1rem;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#2eb7b7;
    text-decoration: underline;
}