body {
    background-color: ivory;
    color:#033E3E;
    font-family: Georgia, serif;
}
h2{
    text-align:center;
    color:#033E3E;
}
figure.center{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 20px auto;
}
figcaption{
    font-style:italic;
    text-align: center;
    margin-top: 5px;
}

ul{
    list-style:none;
    padding:0;
}
ul>li{
    margin: 10px;
    font-weight: normal;
}
ul ul > li{
    margin-left:20px;
    font-weight:normal;
}
img{
    max-width:100%;
    height:auto;
    display: block;
}
nav ul{
    display:flex;
    background-color:#056e6e;
    justify-content: center;
    list-style: none;
    padding:5px;
}
nav ul li{
    margin: 0 1rem;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#2eb7b7;
    text-decoration: underline;
}
footer{
    background-color:#62b0b0;
    color: ivory;
    padding:1rem;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}
footer ul{
    list-style:none;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    text-align: center;
}
footer ul li{
    margin:0.5rem 0;
}
footer a{
    color:ivory;
    text-decoration: none;
    text-align: center;
}
footer a:hover{
    text-decoration: underline;
    color:#056e6e;
    font-weight: bold;
}
.headshot{
    height:300px;
    width:300px;
    border-radius: 5%;
}
header {
    background-color:#033E3E;
    color:ivory;
    padding: 1rem;
    text-align:center;
}
.valid{
    justify-content: center;
    display:flex;
}
