body {
    background-color: ivory;
    color: #033E3E;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    flex: 1;
}
header {
    background-color: #033E3E;
    color: ivory;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: ivory;
    text-align: center;
}

h2 {
    margin-top: 15px;
    margin-bottom: -2px;
    font-family: Georgia, serif;
    color: #033E3E;
    font-size: 1.8rem;
    text-align: left;
}

h3{
    margin-left:20px;
}

nav ul {
    display: flex;
    background-color: #056e6e;
    justify-content: center;
    list-style: none;
    padding: 5px;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: ivory;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#employee-list{
    list-style: square;
}
table{
    width:100%;
    border-collapse: collapse;
    margin-left:20px;
}
th{
    border-bottom: solid #033E3E 1.5pt;
}

figcaption{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: large;
}

#complex tr:first-child{
    background-color: rgb(55, 191, 164);
}
#complex tbody tr:nth-child(odd){
    background-color: #f1fff6; 
}
#complex tbody tr:nth-child(even) {
    background-color: #bde0cd;
}
#bos,#cur{
    background-color:  #f1fff6;
    border-right:dashed;
}
#ass{
    background-color: #bde0cd;
    border-right:dashed;
}

#one{
    border-top: dashed;

}

td{
    text-align: left;
    padding:0px 10px; 
}
#sum{
    border-bottom:solid 2pt;
}
#total{
    border-top:solid 2pt;
    border-bottom:double 2pt;
}
.links {
    margin-bottom: 35px;
}


footer {
    background-color: #033E3E;
    color: ivory;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

footer ul li {
    margin-bottom: -10px;
}

footer a {
    color: ivory;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.copy, .certified {
    text-align: center;
}

.copy {
    font-size: large;
}

.certified {
    font-size: medium;
}


@media screen and (max-width: 992px) {
    .content {
        column-count: 1;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .content {
        column-count: 1;
        text-align: center;
    }

    main {
        width: 95%;
    }
}
