body{
  height: 100%;
  max-width: 100%;
  min-width: none;
  background-color: #AF5D63;
  font-family: 'Courier New', Courier, monospace;
  color:#D5C5C8;
}
h1, #slogan{
  background-color: #1b2537;
  padding: 20px;
  text-align: center;
  color:#A5E6BA;
  margin: -8px;
}

#slogan{
  padding-top: 0;
  color:#82f8ab;
}

nav{
  background-color: #33658A;
  width: 95%;
  display: block;
  margin: 0 auto;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: center;
  font-size: large;
}
#top{
  padding-top: 10px;
}
#bottom{
  padding-bottom: 10px;
}
a{
  text-decoration: none;
  color:#A5E6BA;
}
a:hover{
  font-weight: bold;
}
main{
  max-width: 90%;
  display: block;
  margin:0 auto;
}
h2{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: xx-large;
}

h3{
  text-align: center;
  font-size: x-large;
}
figcaption{
  font-size: larger;
}

#intro, #short-bio, #featured{
  color: #234884;
  background-color:#D5C5C8;
  padding: 5px;
  border-radius: 10px;
}

.slider-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden; 
}
  
.slide {
  display: none; 
  position: relative;
  text-align: center;
}

.pic-num {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #AF5D63;
  font-weight: bold;
  z-index: 10; 
}

  
.footer{
  background-color: #1b2537;
  color:#A5E6BA;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}

#info,#state{
  background-color:#D5C5C8;
  padding:10px;
  border-radius: 10px;
  color:#234884;;
}

.testimonials{
  background-color:#D5C5C8;
  color:#33658A;
  padding: 15px;
  border-radius: 5px;
}

section{
  font-size: large;
  width: 75%;
  margin: 0 auto;
}

.valid{
  background-color: #1b2537;
}

.pause-play{
  background-color: #82f8ab;
  border-radius: 5px;
  padding:10px;
  position: relative;
  font-size: 15px;
  cursor:pointer;
}

figure {
  position: relative;
}

.hover-bubble{
  margin-top: 10px;
  background-color: #234884;
  border-radius: 15px;
  padding:5px;
  opacity: 0;
  pointer-events: none;
  transition:opacity 0.3 ease;
}

figure:hover .hover-bubble{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
