body{
    height: 100%;
    max-width: 100%;
    min-width: none;
    background-color: #AF5D63;
    font-family: 'Courier New', Courier, monospace;
    color:#D5C5C8;
}
h1{
    background-color: #33658A;
    padding: 20px;
    text-align: center;
    color:#A5E6BA;
    margin: -8px;
}
nav{
    background-color: #5171A5;
    width: 95%;
    display: block;
    margin: 0 auto;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    font-size: large;
}
#top{
    padding-top: 10px;
}
#bottom{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color:#A5E6BA;
}
a:hover{
    font-weight: bold;
}
main{
    max-width: 90%;
    display: block;
    margin:0 auto;
}

.footer{
        background-color: #33658A;
        display:realtive;
        padding: 20px;
        margin:-8px;
        text-align: center;
        color:#A5E6BA;
        bottom: 0;
        padding-bottom: 10px;
}

form{
    text-align: left;
    display:grid;
    padding: 40px;
    font-weight: bold;
    background-color: #5171A5;
    color:#D5C5C8;
    border-radius: 15px;
    padding-top:5px;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}
input, textarea, select {
  padding: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: 2px solid #A5E6BA;
  font-size: 1rem;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}
.checkbox-group label {
  font-weight: normal;
}
button {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.success {
  color: green;
  margin-top: 1rem;
}
.error {
  color: red;
  margin-top: 1rem;
}

.valid{
  background-color: #33658A;
}