body{
  height: 100%;
  max-width: 100%;
  min-width: none;
  background-color: #AF5D63;
  font-family: 'Courier New', Courier, monospace;
  color:#D5C5C8;
}

h1, #slogan{
  background-color: #33658A;
  padding: 20px;
  text-align: center;
  color:#A5E6BA;
  margin: -8px;
}

#slogan{
  padding-top: 0;
  color:#82f8ab;
}

nav{
  background-color: #5171A5;
  width: 95%;
  display: block;
  margin: 0 auto;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: center;
  font-size: large;
}

#top{
  padding-top: 10px;
}

#bottom{
  padding-bottom: 10px;
}

a{
  text-decoration: none;
  color:#A5E6BA;
}

a:hover{
  font-weight: bold;
}

nav .active {
  color: #ff6600; 
  font-weight: bold;
}

main{
  max-width: 70%;
  display: block;
  margin:0 auto;
  background-color: #D5C5C8;
  color: #152939;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 0;
}

.footer{
  background-color: #33658A;
  color:#A5E6BA;
  text-align: center;
  width: 100%;
  bottom: 0;
  border-radius: 15px;
}

form {
  margin: 0 auto;
  padding: 15px;
  background-color: #5171A5;
  color: #69e490;
  border-radius: 15px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 1rem;
}
input, textarea, select {
  margin-top: 0.5rem;
  border-radius: 6px;
  font-size: large;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}
.checkbox-group label {
  font-weight: normal;
}
button {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  background-color: #AF5D63;
  color: #ffe3e9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.success {
  color: green;
  margin-top: 1rem;
}
.error {
  color: red;
  margin-top: 1rem;
}

.valid{
  background-color: #33658A;
}