body{
  height: 100%;
  max-width: 100%;
  min-width: none;
  background-color: #AF5D63;
  font-family: 'Courier New', Courier, monospace;
  color:#1b2537;
}

nav .active {
  color: #ff6600; 
  font-weight: bold;  
}

h1, #slogan{
  background-color: #33658A;
  padding: 20px;
  text-align: center;
  color:#A5E6BA;
  margin: -8px;
}

#slogan{
  padding-top: 0;
  color:#82f8ab;
}

h2{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: xx-large;
}

h3{
  text-align: center;
  font-size: x-large;
}
figcaption{
  font-size: larger;
}

nav{
  background-color: #5171A5;
  width: 95%;
  display: block;
  margin: 0 auto;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: center;
  font-size: large;
}
#top{
  padding-top: 10px;
}
#bottom{
  padding-bottom: 10px;
}
a{
  text-decoration: none;
  color:#A5E6BA;
}

a:hover{
  font-weight: bold;
}

main{
  max-width: 90%;
  display: block;
  margin:0 auto;
}

section{
  background-color:#D5C5C8;
  color:#33658A;
  margin-left: 15px;
  border-radius: 15px;
  font-weight: large;
  width: 75%;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden; 
}
  
.slide {
  display: none; 
  position: relative;
  text-align: center;
}


.pic-num {
  position:relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #AF5D63;
  font-weight: bolder;
  z-index: 10; 
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #5171A5;
  color: #A5E6BA;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 20;
}
  
button.prev {
  left: 10px;
}

button.next {
  right: 10px; 
}

button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.footer{
  background-color: #33658A;
  color:#A5E6BA;
  text-align: center;
  width: 100%;
  bottom: 0;
  border-radius: 15px;
}

.valid{
  background-color: #33658A;
}

.pause-play{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:10;
  padding:10px 20px;
  font-size: 16px;
  background-color: #82f8ab;
}

