@font-face {
    font-family: papyrus;
    src: url(/itis3135/stuff/styles/Papyrus.ttc);
}
@font-face {
    font-family: 'Comic Sans';
    src: url(/itis3135/stuff/styles/Comic\ Sans\ MS.ttf);
}

h1{
    margin:5px;
    padding:25px;
    font-family: 'Comic Sans';
}
p{
    margin:15px;
    padding:30px;
}
body{
    font-size: larger;
}
.hashtag{
    color: blue;
    text-decoration: underline;
    font-size: 50px;
}
.center{
    font-family: papyrus;
    text-align: center;

}
ul{
    font-family: 'Comic Sans';
    text-align: center;
}
