
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, Times, serif;
    background-color: ivory;
}

main {
    max-width: 1200px; 
    width: 90%; 
    margin: 0 auto; 
    flex: 1;
}

header {
    background-color: #02563d;
    text-align: center;
    padding-top: 1em;
    color: ivory;
    font-weight: 900;
    font-size: large;
}

nav ul {
    display: flex;
    background-color: #083729;
    justify-content: center;
    list-style: none;
    padding: 5px;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: #f6ae2d;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #2290a9;
}


h1 {
    margin-bottom: 0;
}

h2 {
    text-align: center;
    color: #083729;
}

a {
    color: ivory;
    text-decoration: none;
}

a:hover {
    color: #f6ae2d;
    text-decoration: underline;
}

.about {
    padding-bottom: 4em;
    margin: auto 1em;
}


.slogan {
    color: #083729;
    font-size: large;
    background-color: ivory;
}


footer {
    text-align: center;
    padding-top: 0.5em;
    background-color: #02563d;
    color: ivory;
}


@media (max-width: 768px) { 
    main {
        width: 95%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 0.5em 0;
    }
}

@media (max-width: 480px) { 
    header {
        font-size: medium;
        padding-top: 0.5em;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    main {
        width: 100%;
    }
}

