<h1>BrushedNBuilt</h1>
<p id="slogan"><em>Art Made. Dreams Built</em></p>
<nav>
    <ul id="top">
        <li><a href="https://webpages.charlotte.edu/anelso62/client/index.html">Home</a></li>
        <li><a href="https://webpages.charlotte.edu/anelso62/client/about.html">About Me</a></li>
        <li><a href="https://webpages.charlotte.edu/anelso62/client/contact.html">Contact</a></li>
    </ul>
    <ul id="bottom">
        <li><a href="https://webpages.charlotte.edu/anelso62/client/feedback.html">Testimonials</a></li>
        <li><a href="https://webpages.charlotte.edu/anelso62/client/gallery.html">Gallery</a></li>
    </ul>
</nav>
<script src="script/dom.js"></script>