<h1>Ann Nelson ~ ITIS 3135</h1>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="website_evaluations.html">Web Evaluations</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="https://webpages.charlotte.edu/anelso62/itis3135/stuff/CR@%20ppY.htm">CRAPPY</a></li>
                <li><a href="https://webpages.charlotte.edu/anelso62/ambitiousdragon/index.html">Ambitious Dragon Gallery</a></li>
                <li><a href="https://webpages.charlotte.edu/anelso62/itis3135/nelson-inc.com/index.html">Design Firm</a></li>
                <li> <a href="https://webpages.charlotte.edu/anelso62/itis3135/hobby/index.html">Hobby</a></li>
            </ul>
        </nav>